* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif; /* Fuente predeterminada para todo el documento */
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30343F;
}

.form-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700; /* Bold para títulos */
    color: #2d3142;
    font-family: 'Raleway', sans-serif; /* Fuente Raleway para títulos */
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.form-group {
    padding: 0 10px;
    margin-bottom: 20px;
    flex: 0 0 50%;
    width: 50%;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #2d3142;
    font-weight: 700; /* Bold para etiquetas */
    font-family: 'Raleway', sans-serif; /* Fuente Raleway para etiquetas */
}

.form-control {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s;
    font-family: 'Work Sans', sans-serif; /* Asegurando Work Sans para inputs */
}

.form-control:focus {
    outline: none;
    border-color: #4568dc;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Work Sans', sans-serif; /* Work Sans para botones */
}

.btn-cancel {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #e0e0e0;
}

.btn-cancel:hover {
    background-color: #f5f5f5;
}

.btn-confirm {
    background-color: #2d3989;
    color: white;
}

.btn-confirm:hover {
    background-color: #222c6b;
}

.login-link {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: #555;
}

.login-link a {
    color: #2d3989;
    text-decoration: none;
    font-weight: 700; /* Bold para enlace */
    font-family: 'Raleway', sans-serif; /* Raleway para enlace */
}

.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .form-group {
        flex: 0 0 100%;
        width: 100%;
    }
    
    .form-container {
        padding: 30px 20px;
        margin: 0 15px;
    }
}